<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Personal Photo Gallery</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="nav-left">
        <div class="logo">Photo Gallery</div>
      </div>

      <div class="nav-center">
        <a href="/">Home</a>
        <a href="/upload">Upload</a>
        <a href="/inbox">Inbox</a>
      </div>

      <div class="nav-right">
        {% if session.get("user") %}
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/signin">Sign in</a>
        <a href="/signup">Sign up</a>
        {% endif %}
      </div>
    </div>

    <div class="search-container">
      <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Search for keywords..." />
        <button type="submit">Search</button>
      </form>
    </div>

    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
